body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h1{
    font-size: 100px;
    color: aliceblue;
    backdrop-filter: brightness(.5);
    letter-spacing: 4px;

}
.btn{
    background-color: black;
    color: white;
    padding: 20px 40px;
    font-size: 25px;
    border: 4px solid white;
    cursor: pointer;
    transition: 1s background-color;
    white-space: nowrap;
}
.btn:hover{
    background-color: white;
    color: black;


}
.split{
    width: 50%;
    height: 100%;
    overflow: hidden;

}
.split.left{
    position: absolute;
    left: 0;
    background-color: pink;
    background-image: url('https://ng.jumia.is/unsafe/fit-in/500x500/filters:fill(white)/product/59/0604123/1.jpg?0716');
    background-size: cover;

}
.split.right{
    position: absolute;
    right: 0;
    background-color: lightblue;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKFC7U6KmrMojvxPP7pGLIvkX4NczINUfkgg&s');
    background-size: cover;

}
.active-left .left{
    width: 75%;

}
.active-left .right{
    width: 25%;                  
}
.active-right .right{
    width: 75%;

}
.active-right .left{
    width: 25%;
}
.left, .right{
    transition: width 1s ease-in-out;
}
